on:
  pull_request:
    types: [opened]
name:  pull request working branch
jobs:
  web-deploy:
    name: Pull request
    runs-on: ubuntu-latest
    steps:
      - name: 游뚴 Get latest code
        uses: actions/checkout@v2

      - name: Step one
        id: step-one
        # 향햟햢햟햣햪 햦햪혪 햦 향햫햟혢햣햫햦햣 output 햢햩혪 혨혝쮏 혣햟햡햟
        run: echo "::set-output name=step-one-output::hello from step one"

      - name: Step two
        id: step-two
          # 1. 향햟햢햟햣햪 햦햪혪 햦 향햫햟혢햣햫햦햣 output 햢햩혪 혨혝쮏 혣햟햡햟
          # 2. 쮏혞혢햟햣햪 햢쮐혝혞 햨 향햫햟혢햣햫햦혩 output 햣쒫쮏 혣햟햡햟
        run: |
            echo "::set-output name=step-two-output::hello from step two"
            echo "Step one output: ${{ steps.step-one.outputs.step-one-output }}"

      - name: substring-action
        uses: bhowell2/github-substring-action@v1.0.0
        id: one
        env:
          BRANCH: ${{ github.ref_name }}
        with:
          value: "abc1234"
          index_of_str: "ab"


      - name: Get Token
        run: | 
          curl --location --request GET 'https://cpanel19.d.fozzy.com:2083/execute/SubDomain/addsubdomain?domain=${BRANCH}&rootdomain=test-metall.site&dir=/stages/${{ github.event.pull_request.head.ref }}' --header 'Authorization: cpanel vychevs2:GVJV33J98LLRDASZU5A9JPGVMYI87RU1'

      - name: 游늭 Sync files
        uses: SamKirkland/FTP-Deploy-Action@4.3.2
        with:
          server: ftp.test-metall.site
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          local-dir: ./src/
          server-dir: ./stages/${BRANCH}/
